@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap');
:root{
    --title-font: 'Passion One';
    --verse-font: 'Sriracha';
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
header{
    background-color: black;
    width: 100%;
}
header h1{
    font-family: var(--title-font);
    font-size: 14vh;
    font-variant: small-caps;
    color: white;
    text-align: center;
    padding-top: 50px;
}
header p{
    font-family: 'Verdana';
    color: white;
    text-align: center;
    padding-bottom: 50px;
}
header a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
header a:hover{
    text-decoration: underline;
}

/* main */

.content{
    padding: 10vh 30px;
    font-family: var(--verse-font);
    font-size: 1.5em;
    line-height: 2em;
}
.second-verse{
    background: black url('../assets/background001.jpg') no-repeat fixed;
    background-size: cover;
    color: white;
}
.second-verse p{
    background-color: rgba(0, 0, 0, 0.377);
    padding: 10px;
    width: fit-content;
}

.four-verse{
    background: black url('../assets/background002.jpg') no-repeat fixed;
    background-size: cover;
    color: white;
}
.four-verse p{
    background-color: rgba(0, 0, 0, 0.377);
    padding: 10px;
    width: fit-content;
}

footer{
    width: 100%;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
}
footer p{
    font-size: 1em;
}
footer a{
    color: white;
    font-weight: bold;
}